/* filename: src/components/CartWidget/CartWidget.module.css */

.cartWidgetContainer {
    display: flex;
    align-items: center;
    position: relative;
    background-color: var(--secondary-bg-color); 
    padding: 0.5rem; 
    cursor: pointer;
    border-radius: var(--border-radius);
    transition: background-color 0.3s ease;
}

.cartWidgetContainer:hover {
    background-color: var(--accent-color);
}

.counter {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 0.2rem 0.5rem;
    color: var(--lightest-color);
    background-color: var(--text-color-error);
    border-radius: 50%;
    margin-left: 0.5rem;
    font-size: 0.8rem;
}

.error {
    position: absolute;
    top: -10px;
    right: -10px;
    background-color: var(--text-color-error);
    color: var(--lightest-color);
    padding: 0.2rem 0.5rem;
    border-radius: 50%;
    font-size: 0.7rem;
}
