.uiContainer {
    width: var(--container-max-width);
    margin: var(--container-margin);
    border-radius: var(--border-radius);
    background-color: var(--dark-secondary-color);
    border: 0.1rem solid var(--lighter-color);
    padding: var(--padding-standard);
}