/* filename: src/index.css */

:root {
    --primary-bg-color: #1a1625;
    --secondary-bg-color: #2f2b3a;
    --dark-secondary-color: #46424f;
    --light-primary-color: #5e5a66;
    --lighter-color: #76737e;
    --primary-text-color: #908d96;
    --text-color: var(--primary-text-color);
    --border-radius: 0.5rem;
    --lightest-color: white;
}

* {
    color: var(--text-color);
    background-color: var(--primary-bg-color);
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-size: 16px;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
}

.ui-container {
    width: 99%;
    margin: 1rem auto;
    border-radius: var(--border-radius);
    background-color: var(--dark-secondary-color);
    border: 0.1rem solid var(--lighter-color);
}

@media (min-width: 768px) {
    .ui-container {
        width: 80%;
    }
}

.nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem 1rem;
    border-radius: var(--border-radius);
    border: 0.1rem solid var(--lighter-color);
    background-color: var(--secondary-bg-color);
}

.navbar-logo {
    height: 5rem;
    margin-right: 1.2rem;
}

.nav-link {
    color: var(--lightest-color);
    text-decoration: none;
    padding: 0.5rem 1rem;
    transition: color 0.3s ease;
}

.nav-link:hover {
    color: var(--lighter-color);
}

.nav-links {
    display: flex;
    gap: 1.8rem;
}

.cart-widget-container {
    display: flex;
    align-items: center;
    position: relative;
}

.cart-item-counter {
    position: absolute;
    top: -10px;
    right: -10px;
    background-color: red;
    color: white;
    border-radius: 50%;
    width: 1.5rem;
    height: 1.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 0.9rem;
}

.item-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 20px;
    padding: 20px;
}

.item {
    background-color: var(--secondary-bg-color);
    color: var(--primary-text-color);
    padding: 20px;
    border-radius: var(--border-radius);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 30%;
    text-align: center;
}

.item img {
    width: 100%;
    border-radius: var(--border-radius);
}

.btn-primary {
    display: inline-block;
    margin-top: 10px;
    background-color: var(--light-primary-color);
    color: var(--lightest-color);
    padding: 0.5rem 1rem;
    text-align: center;
    border-radius: var(--border-radius);
    cursor: pointer;
    text-decoration: none;
    transition: background-color 0.3s ease;
}

.btn-primary:hover {
    background-color: var(--lighter-color);
}

button {
    background-color: var(--light-primary-color);
    color: var(--lightest-color);
    border: none;
    padding: 0.5rem 1rem;
    border-radius: var(--border-radius);
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: var(--lighter-color);
}

h1 {
    font-size: 1.6rem;
    text-align: center;
    margin: 1rem 0;
}

h2 {
    margin: 1rem 0;
}

.not-found-container {
    text-align: center;
    margin-top: 2rem;
    padding: 2rem;
}

.not-found-container h1 {
    color: var(--primary-text-color);
    font-size: 2rem;
}

.not-found-container p {
    margin: 1rem 0;
    color: var(--lighter-color);
}